:root {
  --green-uno: rgb(0, 154, 34);
  --green-dos: rgb(54, 186, 1);
  --green-tres: rgb(0, 255, 43);
}

@font-face {
  font-family: "Minecraft";
  src: url(fonts/Minecraft.ttf) format("truetype");
}

html {
  background-color: black;
}

h1 {
  font-weight: 600;
  margin: 0;
  background-color: transparent;
  text-align: center;
  font-family: "Minecraft";
}

div {
  color: white;
}
.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #00ff2b;
}

.game {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}
.game-option {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--green-uno),
    var(--green-dos),
    var(--green-tres),
    var(--green-uno)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
